{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-brace-style"],
  "tailwindStylesheet": "./app/app.css",
  "braceStyle": "stroustrup"
}
